<!DOCTYPE html>
<html lang="es">
    {% load main_extras %}
    {% load widget_tweaks %}
    {% load bootstrap3 %}
    {% load humanize %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="herramientas,alquiler,venta">
    <link rel="SHORTCUT ICON" href="{{STATIC_URL}}files/img/ico.png"/>
    <title>Alqui Herramientas</title>

    <!--Bootstrap Local-->
    <!--CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap-theme.min.css">

    <!--Estilos-->
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}files/css/main/base.css">

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery.js"></script>

    <!-- Bootstrap JavaScript -->
    <script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
    {% block scripts %}
        
    {% endblock scripts %}
</head>
<body>

    <!-- Header de la página -->
    <header>
        <div class="banners container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-hidden">
                    <img class="img-responsive" src="{{STATIC_URL}}files/img/banner-alquiherramienta.png" alt="">
                </div>
            </div>
        </div>
        <nav class="navbar navbar-static-top navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand">
                        <a href="/">
                            <img class="img-responsive" src="{{STATIC_URL}}files/img/logo-principal.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="collapse navbar-collapse navHeaderCollapse navheader">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="{% active_page request 'inicio' %}">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="{% active_page request 'empresa' %}">
                            <a href="/empresa/">Empresa</a>
                        </li>
                        <li class="{% active_page request 'productos' %}">
                            <div class="btn-group">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Productos
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="/productos/">Venta</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="/productos/">Alquiler</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="{% active_page request 'afiliacion' %}">
                            <a href="/afiliacion/">Afiliac&iacute;on</a>
                        </li>
                        <li class="{% active_page request 'contactos' %}">
                            <a href="/contactos/">Contactos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="contenido container">
        <!-- Modal -->
        <div class="modal fade" id="registroModal" tabindex="-1" role="dialog" aria-labelledby="registroModalLabel" aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <img class="img-responsive" src="{{STATIC_URL}}files/img/logo-principal.png" alt="">
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <h4 class="modal-title" id="registroModalLabel">Registro gratuito</h4>
                                <br>
                                <form role="form" method="POST" action=".">
                                    <div class="form-group">
                                        {%csrf_token%}
                                        <div class="form-inline">
                                            <label for="id_nombre">Nombre</label>
                                            {%render_field UsuarioForm.nombre class="form-control" placeholder="Nombre"%}
                                        </div>
                                        <br>
                                        <br>
                                        <div class="form-inline">
                                            <label for="id_apellido">Apellido</label>
                                            {%render_field UsuarioForm.apellido class="form-control" placeholder="Apellido"%}
                                        </div>
                                        <br>
                                        <br>
                                        <div class="form-inline">
                                            <label for="id_email">Correo electr&oacute;nico</label>
                                            {%render_field UsuarioForm.email class="form-control" placeholder="Correo Electrónico"%}
                                        </div>
                                        <br>
                                        <br>
                                        <div class="form-inline">
                                            <label for="id_password1">Contrase&ntilde;a</label>
                                            {%render_field UsuarioForm.password1 class="form-control" placeholder="Contraseña"%}
                                        </div>
                                        <br>
                                        <br>
                                        <div class="form-inline">
                                            <label for="id_password2">Confirmaci&oacute;n contrase&ntilde;a</label>
                                            {%render_field UsuarioForm.password2 class="form-control" placeholder="Repita Contraseña"%}
                                        </div>
                                        <br>
                                        <br>
                                        <div class="form-inline">
                                            <label for="id_ciudad">Ciudad</label>
                                            {%render_field UsuarioForm.ciudad class="form-control" placeholder="Ciudad de Residencia"%}
                                        </div>
                                        <br>
                                        <br>
                                        <div class="form-inline">
                                            <label for="">Documento</label>
                                            {%render_field UsuarioForm.nacionalidad class="form-control"%}
                                            {%render_field UsuarioForm.cedula class="form-control" placeholder="Cédula"%}
                                        </div>
                                        <br>
                                        <br>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary"><strong>Registrarse</strong></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sección interna de la página -->
        <div class="contenido container-fluid">
            <div class="row">
                <div class="barra-lateral col-lg-4 col-md-4 col-sm-4">
                    <div class="registro-ingreso">
                        {%if user.is_authenticated%}
                        <h4>Bienvenido <a href="/perfil/">{{request.user.nombre}}</a></h4>
                        <a href="/logout/">Salir</a>
                        {%else%}
                        <button class="btn btn-default" data-toggle="modal" data-target="#registroModal"><strong>REG&iacute;STRATE</strong></button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" aria-expanded="false" id="login">
                            <strong>INGRESA</strong>
                            </button>
                            <div class="dropdown-menu" role="menu">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <br>
                                    <form role="form" method="POST" action="/login/">
                                        <div class="form-group">
                                            {%csrf_token%}
                                            <div class="form-inline">
                                                {%render_field LoginForm.email class="form-control" placeholder="correo electrónico"%}
                                            </div>
                                            <br>
                                            <div class="form-inline">
                                                {%render_field LoginForm.password class="form-control" placeholder="contraseña"%}
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary"><strong>Entrar</strong></button>
                                            </div>
                                            <br>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {%endif%}
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 buscador">
                        <form id="form" role="form" enctype="multipart/form-data" method="get" action="/">
                        <h3>Buscador</h3>
                            {% csrf_token %}
                            <div class="form-group">
                                {%render_field BusquedaForm.tipo class="form-control"%}
                            </div>
                            <div class="form-group">
                                {%render_field BusquedaForm.categoria class="form-control"%}
                            </div>
                            <div class="form-group izq">
                                {%render_field BusquedaForm.marca class="form-control"%}
                            </div>
                            <div class="form-group der">
                                {%render_field BusquedaForm.estado class="form-control"%}
                            </div>
                            <div class="form-group izq">
                                {%render_field BusquedaForm.ciudad class="form-control"%}
                            </div>
                            <div class="form-group der">
                                {%render_field BusquedaForm.zona class="form-control"%}
                            </div>
                            <br>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary boton">
                                    Buscar <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                    {%if ofertas%}
                    <div class="col-lg-12 col-md-12 col-sm-12 ofertas">
                        <div class="ofertas-content">
                            <h3>Ofertas</h3>
                            <img class="img-responsive" src="{{ofertas.imagen.url}}" alt="">
                            <h4>{{ofertas.titulo}}</h4>
                            <p style="font-weight: bolder;">
                                {%if ofertas.alquiler%}
                                    <p class="precio">{{ofertas.alquiler.precio}} (por dia)</p><p>Alquiler </p>
                                {%else%}
                                    <p class="precio">{{ofertas.venta.precio|floatformat|intcomma}} </p><p>Venta </p>
                                {%endif%}
                                <strong>Marca:</strong> {{ofertas.herramienta.marca.nombre}} <br>
                                <strong>A&ntilde;o:</strong> {{ofertas.herramienta.ano}} <br>
                            <button class="btn btn-primary boton ver-mas">ver +</button>
                                <strong>Estado:</strong> {{ofertas.direccion.estado.nombre}}
                            </p>
                        </div>
                    </div>
                    {%endif%}
                </div>

                <!-- Contenido de la pagina -->
                <div class="contenido col-lg-8 col-md-8 col-sm-8">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
    </div>

    <!-- Footer de la página -->
    <footer>
        <nav class="navbar navbar-static-bottom navbar-default" role="navigation">
            <div class="container">
                <div class="navfooter">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/">Inicio</a>
                        </li>
                        <li>
                            <a href="/empresa/">Empresa</a>
                        </li>
                        <li>
                            <a href="/productos/">Productos</a>
                        </li>
                        <li>
                            <a href="/afiliacion/">Afiliac&iacute;on</a>
                        </li>
                        <li>
                            <a href="/contactos/">Contactos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </footer>
</body>

<!-- Seccion donde se carga el JS -->
{%block js%}

{%endblock js%}
<script type="text/javascript">
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').focus()
      })
</script>
<!-- Funcion para cargar zonas y ciudades dinamicamente -->
<script type="text/javascript">
var ciudades = {{ ciudades|safe }};
var zonas = {{ zonas|safe }};

function cargar_ciudades(){
    var estado = $('#id_estado');
    var elem_ciudades = $('#id_ciudad');
    estado = estado.val();

    if (estado != ""){
        elem_ciudades.empty();
        elem_ciudades.append('<option value="" selected="selected"> - Ciudad -</option>');
        $.each(ciudades[estado], function(i, ciudad){
            console.log(elem_ciudades.append('<option value="'+ i +'">' + ciudad + '</option>'));
        });
    } else {
        elem_ciudades.empty();
        elem_ciudades.append('<option value="" selected="selected"> - Ciudad -</option>');
    }
}

function cargar_zonas(){
    var ciudad = $('#id_ciudad');
    var elem_zonas = $('#id_zona');
    ciudad = ciudad.val();

    if (ciudad != ""){
        elem_zonas.empty();
        elem_zonas.append('<option value="" selected="selected"> - Zona -</option>');
        $.each(zonas[ciudad], function(i, zona){
            elem_zonas.append('<option value="'+ i +'">' + zona + '</option>');
        });
    } else {
        elem_zonas.empty();
        elem_zonas.append('<option value="" selected="selected"> - Zona -</option>');
    }
}
$(document).on('change', '#id_estado', cargar_ciudades);
$(document).on('change', '#id_ciudad', cargar_zonas);

/*Funcion que abre y cierra el dropdown de registro*/
$('#login').on('click', function (event) {
    $(this).parent().toggleClass('open');
});
</script>
</html>