<!DOCTYPE html>
<html lang="es">
    {% load main_extras %}
    {% load widget_tweaks %}
    {% load bootstrap3 %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="herramientas,alquiler,venta">
    <link rel="SHORTCUT ICON" href="{{STATIC_URL}}files/img/ico.png"/>
    <title>Alqui Herramientas</title>

    <!--Bootstrap Local-->
    <!--CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap-theme.min.css">

    <!--Estilos-->
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}files/css/main/base.css">

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery.js"></script>

    <!-- Bootstrap JavaScript -->
    <script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
    {% block scripts %}
        
    {% endblock scripts %}
</head>
<body>

    <!-- Header de la página -->
    <header>
        <div class="banners container">
            <img src="{{STATIC_URL}}files/img/banner-alquiherramienta.png" alt="">
        </div>
        <nav class="navbar navbar-static-top navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand">
                        <a href="/">
                            <img class="img-responsive" src="{{STATIC_URL}}files/img/logo-principal.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="collapse navbar-collapse navHeaderCollapse navheader">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="{% active_page request 'inicio' %}">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="{% active_page request 'empresa' %}">
                            <a href="/empresa/">Empresa</a>
                        </li>
                        <li class="{% active_page request 'productos' %}">
                            <a href="/productos/">Productos</a>
                        </li>
                        <li class="{% active_page request 'afiliacion' %}">
                            <a href="/afiliacion/">Afiliac&iacute;on</a>
                        </li>
                        <li class="{% active_page request 'contactos' %}">
                            <a href="/contactos/">Contactos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="contenido container">
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Registro de usuario: </h4>
                    </div>
                    <div class="modal-body">    
                        <form role="form" method="POST" action=".">
                            <div class="form-group">
                                {%csrf_token%}
                                <div class="form-group">
                                    {%render_field UsuarioForm.nombre class="form-control" placeholder="Nombre"%}
                                </div>
                                <div class="form-group">
                                    {%render_field UsuarioForm.apellido class="form-control" placeholder="Apellido"%}
                                </div>
                                <div class="form-group">
                                    {%render_field UsuarioForm.email class="form-control" placeholder="Correo Electrónico"%}
                                </div>
                                <div class="form-group">
                                    {%render_field UsuarioForm.password1 class="form-control" placeholder="Contraseña"%}
                                </div>
                                <div class="form-group">
                                    {%render_field UsuarioForm.password2 class="form-control" placeholder="Repita Contraseña"%}
                                </div>
                                <div class="form-group">
                                    {%render_field UsuarioForm.ciudad class="form-control" placeholder="Ciudad de Residencia"%}
                                </div>
                                <div class="form-group">
                                    {%render_field UsuarioForm.nacionalidad class="form-control"%}
                                </div>
                                <div class="form-group">
                                    {%render_field UsuarioForm.cedula class="form-control" placeholder="Cédula"%}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Registrarse</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sección interna de la página -->
        <div class="contenido container-fluid">
            <div class="row">
                <div class="barra-lateral col-lg-3">
                    <div class="registro-ingreso">
                        <button class="btn btn-default" data-toggle="modal" data-target="#myModal">Registrate</button>
                        <button class="btn btn-default">Ingresa</button>
                    </div>
                    <div class="buscador">
                        <h4>Buscador</h4>
                        <form id="form" role="form" enctype="multipart/form-data" method="get" action="/">
                            {% csrf_token %}
                            <div class="form-group">
                                {%render_field BusquedaForm.tipo class="form-control"%}
                            </div>
                            <div class="form-group">
                                {%render_field BusquedaForm.categoria class="form-control"%}
                            </div>
                            <div class="form-group">
                                {%render_field BusquedaForm.marca class="form-control"%}
                            </div>
                            <div class="form-group">
                                {%render_field BusquedaForm.estado class="form-control"%}
                            </div>
                            <div class="form-group">
                                {%render_field BusquedaForm.ciudad class="form-control"%}
                            </div>
                            <div class="form-group">
                                {%render_field BusquedaForm.zona class="form-control"%}
                            </div>
                            <br>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">
                                    Buscar <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                    {%if ofertas%}
                    <div class="ofertas">
                        <h4>Ofertas</h4>
                        <img class="img-responsive" src="{{ofertas.imagen.url}}" alt="">
                        <h5>{{ofertas.titulo}}</h5>
                        <p>
                            {%if ofertas.alquiler%}
                                Alquiler <strong>{{ofertas.alquiler.precio}}</strong> (por dia) <br>
                            {%else%}
                                Venta <br>
                            {%endif%}
                            <strong>Marca:</strong> {{ofertas.herramienta.marca.nombre}} <br>
                            <strong>A&ntilde;o:</strong> {{ofertas.herramienta.ano}} <br>
                            <strong>Estado:</strong> {{ofertas.direccion.estado.nombre}}
                        </p>
                        <a href="/productos/{{ofertas.id}}/">ver mas</a>
                    </div>
                    {%endif%}
                </div>

                <!-- Contenido de la pagina -->
                <div class="contenido col-lg-9 col-md-9 col-sm-9">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
    </div>

    <!-- Footer de la página -->
    <footer>
        <nav class="navbar navbar-static-bottom navbar-default" role="navigation">
            <div class="container">
                <div class="navfooter">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/">Inicio</a>
                        </li>
                        <li>
                            <a href="/empresa/">Empresa</a>
                        </li>
                        <li>
                            <a href="/productos/">Productos</a>
                        </li>
                        <li>
                            <a href="/afiliacion/">Afiliac&iacute;on</a>
                        </li>
                        <li>
                            <a href="/contactos/">Contactos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </footer>
</body>

<!-- Seccion donde se carga el JS -->
{%block js%}

{%endblock js%}
<script type="text/javascript">
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').focus()
      })
</script>
<!-- Funcion para cargar zonas y ciudades dinamicamente -->
<script type="text/javascript">
var ciudades = {{ ciudades|safe }};
var zonas = {{ zonas|safe }};

function cargar_ciudades(){
    var estado = $('#id_estado');
    var elem_ciudades = $('#id_ciudad');
    estado = estado.val();

    if (estado != ""){
        elem_ciudades.empty();
        elem_ciudades.append('<option value="" selected="selected"> - Ciudad -</option>');
        $.each(ciudades[estado], function(i, ciudad){
            console.log(elem_ciudades.append('<option value="'+ i +'">' + ciudad + '</option>'));
        });
    } else {
        elem_ciudades.empty();
        elem_ciudades.append('<option value="" selected="selected"> - Ciudad -</option>');
    }
}

function cargar_zonas(){
    var ciudad = $('#id_ciudad');
    var elem_zonas = $('#id_zona');
    ciudad = ciudad.val();

    if (ciudad != ""){
        elem_zonas.empty();
        elem_zonas.append('<option value="" selected="selected"> - Zona -</option>');
        $.each(zonas[ciudad], function(i, zona){
            elem_zonas.append('<option value="'+ i +'">' + zona + '</option>');
        });
    } else {
        elem_zonas.empty();
        elem_zonas.append('<option value="" selected="selected"> - Zona -</option>');
    }
}
$(document).on('change', '#id_estado', cargar_ciudades);
$(document).on('change', '#id_ciudad', cargar_zonas);
</script>
</html>