{% extends "main/base.html" %}
{% load main_extras %}
{% load widget_tweaks %}
{% load bootstrap3 %}
{% block content %}
	<h3 class="titulo"> Afiliaci&oacute;n: </h3>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<p>
			Minions ipsum uuuhhh uuuhhh hahaha me want bananaaa! Poopayee chasy tulaliloo uuuhhh butt daa pepete chasy butt butt. Daa belloo! Pepete tatata bala tu bee do bee do bee do. Wiiiii chasy bee do bee do bee do belloo! Chasy ti aamoo! Jiji belloo! Potatoooo jeje tatata bala tu. Gelatooo poopayee para tú tatata bala tu tulaliloo. Tatata bala tu ti aamoo! Bananaaaa belloo! Butt bee do bee do bee do bananaaaa poulet tikka masala me want bananaaa! Po kass la bodaaa potatoooo baboiii poulet tikka masala jiji bappleees para tú potatoooo daa tulaliloo. 
			<br>
			<br>
			Bananaaaa bee do bee do bee do poopayee butt po kass potatoooo underweaaar tatata bala tu gelatooo. Potatoooo jiji po kass jiji. Me want bananaaa! me want bananaaa! Butt jiji hana dul sae jeje jeje para tú jiji pepete bananaaaa. Gelatooo po kass tulaliloo butt poulet tikka masala hahaha po kass jiji aaaaaah uuuhhh. Gelatooo po kass tank yuuu! Wiiiii underweaaar uuuhhh jeje poulet tikka masala. Po kass butt poopayee tank yuuu! Underweaaar me want bananaaa! Jeje. Butt belloo! Aaaaaah tank yuuu! Gelatooo wiiiii jeje tulaliloo. Tank yuuu! poulet tikka masala tank yuuu! Potatoooo jiji.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<h4>Beneficios: </h4>
			<ul>
				<li>
					
				</li>
				<li>
					
				</li>
				<li>
					
				</li>
				<li>
					
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8	 col-md-8 col-sm-8">
            <button class="btn btn-default" data-toggle="modal" data-target="#registroModal">Afiliarse</button>
		</div>
	</div>
{% endblock content %}