{%extends "administrador/base.html"%}
{% load bootstrap3 %}

{% block contenido %}
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
				<h3>Alquileres realizados:</h3>
				<table class="table table-striped">
					<tr>
						<td>
							ID
						</td>
						<td>
							Titulo
						</td>
						<td>
							Herramienta
						</td>
						<td>
							Precio
						</td>
						<td>
							Dias
						</td>
						<td>
							Cantidad
						</td>
						<td>
							Fecha
						</td>
						<td>
							Usuario
						</td>
						<td>
							Verificado
						</td>
					</tr>
					{%for alquiler in alquileres%}
						<tr>
							<td>
								{{alquiler.id}}
							</td>
							<td>
								{{alquiler.producto.titulo}}
							</td>
							<td>
								{{alquiler.producto.herramienta.nombre}}
							</td>
							<td>
								{{alquiler.monto}}
							</td>
							<td>
								{{alquiler.dias}}
							</td>
							<td>
								{{alquiler.cantidad}}
							</td>
							<td>
								{{alquiler.fecha}}
							</td>
							<td>
								<a href="/administrador/usuario/{{alquiler.usuario.id}}/">{{alquiler.usuario.nombre}}	{{alquiler.usuario.apellido}}</a>
							</td>
							{%if alquiler.verificado%}
								<td>
									<a href="/administrador/alquiler/verificado/{{alquiler.id}}/">Verificado <span class="glyphicon glyphicon-ok"></span></a>
								</td>
							{%else%}
								<td>
									<a href="/administrador/alquiler/verificado/{{alquiler.id}}/">No Verificado <span class="glyphicon glyphicon-remove"></span></a>
								</td>
							{%endif%}
						</tr>
					{%endfor%}
				</table>
	        </div>
	        <div class="paginacion row">
	            <div class="col-lg-12 col-md-12">
	                <nav>
	                  <ul class="pagination">
	                    {% if alquileres.has_previous %}
	                        <li>
	                            <a href="?page={{ alquileres.previous_page_number }}">&laquo;</a>
	                        </li>
	                    {% endif %}
	                        <li><a href="">{{ alquileres.number }}</a></li>
	                    {% if alquileres.has_next %}
	                        <li>
	                            <a href="?page={{ alquileres.next_page_number }}">&raquo;</a>
	                        </li>
	                    {% endif %}
	                  </ul>
	                </nav>
	            </div>
	        </div>
        </div>
	</div>
{% endblock contenido %}

{%block js%}
<script>
/*Funcion que hace el submit para eliminar el alquiler*/
$( document ).ready(function(){
	$( ".eliminar_bot" ).click(function(){
		var form = $(this).children('form:first');
		var bar = $("input[id='id_eliminar']",form).val();
		if (confirm("Esta seguro de querer eliminar este alquiler?")==true){
			window.location.replace("/administrador/alquiler/eliminar/"+bar+"/");
		}
	});
});
</script>
{%endblock js%}