{%extends "administrador/base.html"%}
{% load bootstrap3 %}

{% block contenido %}
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
				<h3>Alquileres:</h3>
				<table class="table table-striped">
					<tr>
						<td>
							ID
						</td>
						<td>
							Titulo
						</td>
						<td>
							Herramienta
						</td>
						<td>
							Monto
						</td>
						<td>
							Dias
						</td>
						<td>
							Usuario
						</td>
						<td>
							Editar
						</td>
						<td>
							Im&aacute;genes
						</td>
						<td>
							Eliminar
						</td>
					</tr>
					{%for alquiler in alquileres%}
						<tr>
							<td>
								{{alquiler.id}}
							</td>
							<td>
								{{alquiler.titulo}}
							</td>
							<td>
								{{alquiler.herramienta.nombre}}
							</td>
							<td>
								{{alquiler.precio}}
							</td>
							<td>
								{{alquiler.pago.dias}}
							</td>
							<td>
								{{alquiler.pago.usuario.nombre}}
							</td>
							<td>
								<a href="/administrador/alquiler/editar/{{alquiler.id}}/">Editar <span class="glyphicon glyphicon-pencil"></span></a>
							</td>
							<td>
								<a href="/administrador/alquiler/imagen/{{alquiler.id}}/">Im&aacute;genes <span class="glyphicon glyphicon-picture"></span></a>
							</td>
							<td>
								<a class="eliminar_bot" style="cursor:pointer;">Eliminar 
									<span class="glyphicon glyphicon-trash"></span>

									<form action="." method="POST" id="eliminar">
										<input id="id_eliminar" type="hidden" value="{{alquiler.id|safe}}">
									</form>
								</a>
							</td>
						</tr>
					{%endfor%}
				</table>
	        </div>
        </div>
	</div>
{% endblock contenido %}

{%block js%}
<script>
/*Funcion que hace el submit para eliminar el alquiler*/
$( document ).ready(function(){
	$( ".eliminar_bot" ).click(function(){
		var form = $(this).children('form:first');
		var bar = $("input[id='id_eliminar']",form).val();
		if (confirm("Esta seguro de querer eliminar este alquiler?")==true){
			window.location.replace("/administrador/alquiler/eliminar/"+bar+"/");
		}
	});
});
</script>
{%endblock js%}