{%extends "administrador/base.html"%}
{% load bootstrap3 %}

{% block contenido %}
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
				<h3>Alquileres:</h3>
				<table class="table table-striped">
					<tr>
						<td>
							ID
						</td>
						<td>
							Titulo
						</td>
						<td>
							Herramienta
						</td>
						<td>
							Precio
						</td>
						<td>
							Dias
						</td>
						<td>
							Editar
						</td>
						<td>
							Disponibilidad
						</td>
						<td>
							Im&aacute;genes
						</td>
						<td>
							Eliminar
						</td>
					</tr>
					{%for alquiler in alquileres%}
						<tr>
							<td>
								{{alquiler.id}}
							</td>
							<td>
								{{alquiler.titulo}}
							</td>
							<td>
								{{alquiler.herramienta.nombre}}
							</td>
							<td>
								{{alquiler.precio}}
							</td>
							<td>
								{{alquiler.dias}}
							</td>
							<td>
								<a href="/administrador/alquiler/editar/{{alquiler.id}}/">Editar <span class="glyphicon glyphicon-pencil"></span></a>
							</td>
							{%if alquiler.disponible%}
								<td>
									<a href="/administrador/alquiler/disponible/{{alquiler.id}}/">Disponible <span class="glyphicon glyphicon-ok"></span></a>
								</td>
							{%else%}
								{% if alquiler.cantidad == 0%}
									<td>
										<a href="">Agotado <span class="glyphicon glyphicon-remove"></span></a>
									</td>
								{% else %}
									<td>
										<a href="/administrador/alquiler/disponible/{{alquiler.id}}/">No Disponible <span class="glyphicon glyphicon-remove"></span></a>
									</td>
								{% endif %}
							{%endif%}
							<td>
								<a href="/administrador/alquiler/imagen/{{alquiler.id}}/">Im&aacute;genes <span class="glyphicon glyphicon-picture"></span></a>
							</td>
							<td>
								<a class="eliminar_bot" style="cursor:pointer;">Eliminar 
									<span class="glyphicon glyphicon-trash"></span>

									<form action="." method="POST" id="eliminar">
										<input id="id_eliminar" type="hidden" value="{{alquiler.id|safe}}">
									</form>
								</a>
							</td>
						</tr>
					{%endfor%}
				</table>
	        </div>
	        <div class="paginacion row">
	            <div class="col-lg-12 col-md-12">
	                <nav>
	                  <ul class="pagination">
	                    {% if alquileres.has_previous %}
	                        <li>
	                            <a href="?page={{ alquileres.previous_page_number }}">&laquo;</a>
	                        </li>
	                    {% endif %}
	                        <li><a href="">{{ alquileres.number }}</a></li>
	                    {% if alquileres.has_next %}
	                        <li>
	                            <a href="?page={{ alquileres.next_page_number }}">&raquo;</a>
	                        </li>
	                    {% endif %}
	                  </ul>
	                </nav>
	            </div>
	        </div>
        </div>
	</div>
{% endblock contenido %}

{%block js%}
<script>
/*Funcion que hace el submit para eliminar el alquiler*/
$( document ).ready(function(){
	$( ".eliminar_bot" ).click(function(){
		var form = $(this).children('form:first');
		var bar = $("input[id='id_eliminar']",form).val();
		if (confirm("Esta seguro de querer eliminar este alquiler?")==true){
			window.location.replace("/administrador/alquiler/eliminar/"+bar+"/");
		}
	});
});
</script>
{%endblock js%}