{% extends "main/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block scripts %}
	
    <!--Estilos-->
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}files/css/main/producto.css">

{% endblock scripts %}
{% block content %}
	<div class="row">
		{% if agotado %}
			<p>Ha ocurrido un error. El producto que intentaba comprar est&aacute; agotado.
			Por favor cont&aacute;ctenos para mayor informaci&oacute;n.</p>
		{% else %}
			{% if botonMp %}
				<h3 class="titulo">Presione el bot&oacute;n para realizar el pago:</h3>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<div class="thumbnail">
						<img src="{{producto.imagen.imagen.url}}" alt="">
						<div class="caption">
							<h3>{{producto.titulo}}</h3>
							<p>{{producto.contenido}}</p>
							<p class="text-center">{% autoescape off %}{{boton_mp}}{% endautoescape %}</p>
						</div>
					</div>
				</div>
			{% endif %}
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="thumbnail">
					<h4><strong>Contactar al vendedor:</strong></h4>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<h4><strong>Tel&eacute;fonos:</strong></h4>
							<p>
								{{contactos.telefonos|linebreaks}}
							</p>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock content %}

{% block js %}

{% endblock js %}