{% extends "main/base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block scripts %}
	
    <!--Estilos-->
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}files/css/main/productos.css">

{% endblock scripts %}

{% block content %}
<h3 class="titulo">Anuncios {{palabra|capfirst}}</h3>
    <div class="row">
		{%for producto in productos%}
            {%if forloop.counter > 3%}
            <div class="col-lg-4 col-md-4 col-sm-9 col-xs-9 inferior">
            {%else%}
            <div class="col-lg-4 col-md-4 col-sm-9 col-xs-9 superior">
            {%endif%}
                <a href="/productos/{{producto.id}}/">
                    <img class="img-responsive cuadrado" src="{{producto.imagen.thumbnail.url}}" alt="">
                </a>
                <h4>{{producto.titulo}}</h4>
                <div class="divider"></div>
                {%if producto.alquiler%}
                    <p class="precio"> {{producto.alquiler.precio}} (por d&iacute;a) </p> <strong class="tipo"> Alquiler</strong> 
                {%else%}
                    <p class="precio"> {{producto.venta.precio|floatformat|intcomma}}</p> <strong class="tipo"> Venta</strong>
                {%endif%}
                <br>
                <strong>Marca:</strong> {{producto.herramienta.marca.nombre}}
                <br>
                <strong>A&ntilde;o:</strong> {{producto.herramienta.ano}}
                <br>
                <a href="/productos/{{producto.id}}/">
                    <button class="btn btn-primary boton ver-mas">ver +</button>
                </a>
                <strong>Estado:</strong> {{producto.direccion.estado.nombre}} <br> 
            </div>
        {%empty%}
            <h3>Lo sentimos, no se encontraron productos con estos datos.</h3>
            <h4>Redefine los campos de b&uacute;squeda para encontrar lo que buscas.</h4>
        {%endfor%}
        <div class="paginacion row">
            <div class="col-lg-12 col-md-12">
                <nav>
                  <ul class="pagination">
                    {% if productos.has_previous %}
                        <li>
                            <a href="?page={{ productos.previous_page_number }}">&laquo;</a>
                        </li>
                    {% endif %}
                        <li><a href="">{{ productos.number }}</a></li>
                    {% if productos.has_next %}
                        <li>
                            <a href="?page={{ productos.next_page_number }}">&raquo;</a>
                        </li>
                    {% endif %}
                  </ul>
                </nav>
            </div>
        </div>
	</div>
{% endblock content %}