{% extends "main/base.html" %}

{% block scripts %}
	
    <!--Estilos-->
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}files/css/main/productos.css">

{% endblock scripts %}

{% block content %}
<h3 class="titulo">Anuncios venta/alquiler</h3>
    <div class="row">
		{%for producto in productos%}
		<div class="col-lg-4 col-md-4 col-sm-9 col-xs-9">
			<a href="/productos/{{producto.id}}/">
				<img class="img-responsive" src="{{producto.imagen.url}}" alt="">
			</a>
			<h4>{{producto.titulo}}</h4>
            <div class="divider"></div>
            {%if producto.alquiler%}
            	Alquiler &nbsp;&nbsp;&nbsp;&nbsp; {{producto.alquiler.precio}} (por dia)
            {%else%}
				Venta &nbsp;&nbsp;&nbsp;&nbsp; {{producto.venta.precio}}
            {%endif%}
            <br>
            <strong>Marca:</strong> {{producto.herramienta.marca.nombre}}
            <br>
			<strong>A&ntilde;o:</strong> {{producto.herramienta.ano}}
            <br>
			<strong>Estado:</strong> {{producto.direccion.estado.nombre}} <br> 
			<a href="/productos/{{producto.id}}/">ver mas</a>
		</div>
		{%endfor%}
	</div>
{% endblock content %}