/*Archivo de estilos para el admin de la aplicacion
Elaborado por: Franco Nori G.
Colores a utilizar:
  Amarillo: #D8971B;
  Gris Claro: #7E7769;
  Gris Oscuro: #625D53;
  Azul: #0B3755;
  Negro: #292929;
*/

/*Estilos de la barra de menus*/

.navbar, #side-menu{
	background-color: #292929;
}

#wrapper > nav > div.navbar-header > a,
#side-menu > li > a,
#side-menu > li.active > ul > li > a,
#side-menu > li.active > ul > li.active > ul > li > a,
#wrapper > nav > ul > li > a > span,
#wrapper > nav > ul > li > a{
	color: white;
}

.sidebar ul li {
	border-bottom: 1px solid #292929 !important;
}

.sidebar ul li a.active {
	background-color: #625D53 !important;
}

.nav>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	background-color: #625D53 !important;
}