{%extends "administrador/base.html"%}
{% load bootstrap3 %}

{% block contenido %}
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
				<h3>Categor&iacute;as:</h3>
				<table class="table table-striped">
					<tr>
						<td>
							ID
						</td>
						<td>
							Categor&iacute;a
						</td>
						<td>
							Editar
						</td>
						<td>
							Eliminar
						</td>
					</tr>
					{%for categoria in categorias%}
						<tr>
							<td>
								{{categoria.id}}
							</td>
							<td>
								{{categoria.nombre}}
							</td>
							<td>
								<a href="/administrador/categoria/editar/{{categoria.id}}/">Editar <span class="glyphicon glyphicon-pencil"></span></a>
							</td>
							<td>
								<a class="eliminar_bot" style="cursor:pointer;">Eliminar 
									<span class="glyphicon glyphicon-trash"></span>

									<form action="." method="POST" id="eliminar">
										<input id="id_eliminar" type="hidden" value="{{categoria.id|safe}}">
									</form>
								</a>
							</td>
						</tr>
					{%endfor%}
				</table>
	        </div>
        </div>
        <div class="paginacion row">
            <div class="col-lg-12 col-md-12">
                <nav>
                  <ul class="pagination">
                    {% if categorias.has_previous %}
                        <li>
                            <a href="?page={{ categorias.previous_page_number }}">&laquo;</a>
                        </li>
                    {% endif %}
                        <li><a href="">{{ categorias.number }}</a></li>
                    {% if categorias.has_next %}
                        <li>
                            <a href="?page={{ categorias.next_page_number }}">&raquo;</a>
                        </li>
                    {% endif %}
                  </ul>
                </nav>
            </div>
        </div>
	</div>
{% endblock contenido %}
{%block js%}
<script>
/*Funcion que hace el submit para eliminar la categoria*/
$( document ).ready(function(){
	$( ".eliminar_bot" ).click(function(){
		var form = $(this).children('form:first');
		var bar = $("input[id='id_eliminar']",form).val();
		if (confirm("Esta seguro de querer eliminar esta categoria?")==true){
			window.location.replace("/administrador/categoria/eliminar/"+bar+"/");
		}
	});
});
</script>
{%endblock js%}