{%extends "administrador/base.html"%}
{% load bootstrap3 %}

{% block contenido %}
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
				<h3>Agregar Venta:</h3>
				{%if editado%}
					<div class="alert alert-success alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<strong>Guardado!</strong> Se ha guardado la informaci&oacute;n con &eacute;xito!
					</div>
				{%endif%}
				<form id="form" role="form" enctype="multipart/form-data" method="post" action="">
		        {% csrf_token %}
		        	<h4>Herramienta:</h4>
		            {% bootstrap_field HerramientaForm.nombre %}
		            {% bootstrap_field HerramientaForm.ano %}
		            {% bootstrap_field HerramientaForm.categoria %}
		            <a href="/administrador/categoria/agregar/">Agregar Categoria <span class="glyphicon glyphicon-plus"></span></a>
		            {% bootstrap_field HerramientaForm.marca %}
		            <a target="_new" href="/administrador/marca/agregar/">Agregar Marca <span class="glyphicon glyphicon-plus"></span></a>
		            {% bootstrap_field HerramientaForm.modelo %}
		            <a target="_new" href="/administrador/modelo/agregar/">Agregar Modelo <span class="glyphicon glyphicon-plus"></span></a>
					<br>
		            <h4>Direccion:</h4>
		            {% bootstrap_field DireccionForm.domicilio %}
		            {% bootstrap_field DireccionForm.estado %}
		            <a target="_new" href="/administrador/estado/agregar/">Agregar Estado <span class="glyphicon glyphicon-plus"></span></a>
		            {% bootstrap_field DireccionForm.ciudad %}
		            <a target="_new" href="/administrador/ciudad/agregar/">Agregar Ciudad <span class="glyphicon glyphicon-plus"></span></a>
		            {% bootstrap_field DireccionForm.zona %}
		            <a target="_new" href="/administrador/zona/agregar/">Agregar Zona <span class="glyphicon glyphicon-plus"></span></a>
					<br>
					<br>
		        	<h4>Info Publicacion:</h4>
		            {% bootstrap_field VentaForm.titulo %}
		            {% bootstrap_field VentaForm.contenido %}
		            {% bootstrap_field VentaForm.cantidad %}
		            {% bootstrap_field VentaForm.preguntas %}
		            {% bootstrap_form ImagenForm %}
		            {% bootstrap_field VentaForm.oferta %}
		            {% bootstrap_field VentaForm.precio %}
		            {% bootstrap_field VentaForm.visible %}
		            <div class="form-group">
		                {% buttons %}
		                    <button type="submit" class="btn btn-primary">
		                        Guardar
		                    </button>
		                {% endbuttons %}
		            </div>
		        </form>
	        </div>
        </div>
	</div>
{% endblock contenido %}

{% block js %}
<script>
var ciudades = {{ ciudades|safe }};

function cargar_ciudades(){
    var estado = $('#id_estado').val();
    var elem_ciudades = $('#id_ciudad');

    if (estado != ""){
        elem_ciudades.empty();
        elem_ciudades.append('<option value="" selected="selected"> - Ciudad -</option>');
        $.each(ciudades[estado], function(i, ciudad){
            elem_ciudades.append('<option value="'+ i +'">' + ciudad + '</option>')
        });
    } else {
        elem_zonas.empty();
        elem_zonas.append('<option value="" selected="selected"> - Ciudad -</option>');
    }
}
$(document).on('change', '#id_estado', cargar_ciudades);

var zonas = {{ zonas|safe }};

function cargar_zonas(){
    var ciudad = $('#id_ciudad').val();
    var elem_zonas = $('#id_zona');


    if (ciudad != ""){
        elem_zonas.empty();
        elem_zonas.append('<option value="" selected="selected"> - Zona -</option>');
        $.each(zonas[ciudad], function(i, zona){
            elem_zonas.append('<option value="'+ i +'">' + zona + '</option>')
        });
    } else {
        elem_zonas.empty();
        elem_zonas.append('<option value="" selected="selected"> - Zona -</option>');
    }
}
$(document).on('change', '#id_ciudad', cargar_zonas);
</script>
{% endblock js %}
