{%extends "administrador/base.html"%}
{% load bootstrap3 %}

{% block contenido %}
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
				<h3>Zonas:</h3>
				<table class="table table-striped">
					<tr>
						<td>
							ID
						</td>
						<td>
							Zona
						</td>
						<td>
							Ciudad
						</td>
						<td>
							Editar
						</td>
						<td>
							Eliminar
						</td>
					</tr>
					{%for zona in zonas%}
						<tr>
							<td>
								{{zona.id}}
							</td>
							<td>
								{{zona.nombre}}
							</td>
							<td>
								{{zona.ciudad.nombre}}
							</td>
							<td>
								<a href="/administrador/zona/editar/{{zona.id}}/">Editar <span class="glyphicon glyphicon-pencil"></span></a>
							</td>
							<td>
								<a class="eliminar_bot" style="cursor:pointer;">Eliminar 
									<span class="glyphicon glyphicon-trash"></span>

									<form action="." method="POST" id="eliminar">
										<input id="id_eliminar" type="hidden" value="{{zona.id|safe}}">
									</form>
								</a>
							</td>
						</tr>
					{%endfor%}
				</table>
	        </div>
	        <div class="paginacion row">
	            <div class="col-lg-12 col-md-12">
	                <nav>
	                  <ul class="pagination">
	                    {% if zonas.has_previous %}
	                        <li>
	                            <a href="?page={{ zonas.previous_page_number }}">&laquo;</a>
	                        </li>
	                    {% endif %}
	                        <li><a href="">{{ zonas.number }}</a></li>
	                    {% if zonas.has_next %}
	                        <li>
	                            <a href="?page={{ zonas.next_page_number }}">&raquo;</a>
	                        </li>
	                    {% endif %}
	                  </ul>
	                </nav>
	            </div>
	        </div>
        </div>
	</div>
{% endblock contenido %}
{%block js%}
<script>
/*Funcion que hace el submit para eliminar la zona*/
$( document ).ready(function(){
	$( ".eliminar_bot" ).click(function(){
		var form = $(this).children('form:first');
		var bar = $("input[id='id_eliminar']",form).val();
		if (confirm("Esta seguro de querer eliminar esta zona?")==true){
			window.location.replace("/administrador/zona/eliminar/"+bar+"/");
		}
	});
});
</script>
{%endblock js%}